<div *ngFor="let signal of _signalsSummary; let i = index">
    <div [class.row]="index % 3 === 0">
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="{{ signal.thumbnailURL }}" alt="Signal">
                <div class="caption text-center">
                    <p class="text-main text-bold mar-no">
                        {{ signal.currency }} - {{ signal.action }} - {{ signal.explanation }} - {{ signal.createdOn | date: 'dd/MM/yyyy' }}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
