<div class="text-center">
    <!--<div class="cls-header">
        <div class="cls-brand">
            <a class="box-inline" href="index.html">
                 <img alt="Nifty Admin" src="images/logo.png" class="brand-icon"> 
                <span class="brand-title">FxSumo<span class="text-thin">Admin</span></span>
            </a>
        </div>
    </div>-->

    <div class="cls-content">
        <h1 class="error-code text-info">404</h1>
        <p class="text-main text-semibold text-lg text-uppercase">Page Not Found!</p>
        <div class="pad-btm text-muted">
            Sorry, but the page you are looking for has not been found on our server.
        </div>
        <hr class="new-section-sm bord-no">
        <div class="pad-top"><a class="btn-link" href="index.html">Back to Homepage</a></div>
    </div>
</div>