
<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <ul id="mainnav-menu" class="list-group">            
                        <!--Menu list item-->
                        <li routerLinkActive="active-link">
                            <a routerLink="/signals">
                                <span class="menu-title">Signals</span>
                            </a>
                        </li>
            
                        <!--Menu list item-->
                        <li routerLinkActive="active-link">
                            <a routerLink="/add-signal">
                                <span class="menu-title">
                                    <strong>Add Signal</strong>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>