
<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-profile" class="mainnav-profile" *ngIf="user">
            <div class="profile-wrap">
                <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                    <span class="pull-right dropdown-toggle">
                        <i class="dropdown-caret"></i>
                    </span>
                    <p class="mnp-name">{{user.profile.name}}</p>
                    <span class="mnp-desc">{{user.profile.email}}</span>
                </a>
            </div>
            <div id="profile-nav" class="collapse list-group bg-trans">
                <a (click)="startSignoutMainWindow()" class="list-group-item" >
                    <i class="ti-unlock icon-lg icon-fw"></i> Logout
                </a>
            </div>
        </div>
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <ul id="mainnav-menu" class="list-group">            
                        <!--Menu list item-->
                        <li routerLinkActive="active-link">
                            <a routerLink="/signals">
                                <i class="psi-bar-chart"></i>
                                <span class="menu-title">Signals</span>
                            </a>
                        </li>
            
                        <!--Menu list item-->
                        <li routerLinkActive="active-link">
                            <a routerLink="/add-signal">
                                <span class="menu-title">
                                    <i class="psi-bar-chart"></i>
                                    <strong>Add Signal</strong>
                                    <span class="label label-success pull-right">Admin</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>